#table_Calculator {
	 /*style-width= 35% I DON'T KNOW WHAT THIS IS DOING*/
	 border: 1px solid black; 
	 border-width = 4px;
	 background-color: #e5f4ff; 
}
table, tr, td {
	 border: 1px solid black; 
}

